@import 'bootstrap/dist/css/bootstrap.min.css';
@import 'bootstrap-icons/font/bootstrap-icons.css';

.item-list-container {
  padding: 20px;
  background-color: #f8f9fa;
  border: 1px solid #dee2e6;
  text-align: center;
}

.item-list-title {
  font-size: 24px;
  font-weight: bold;
  color: #000000;
}